





.d_container{
    margin: 0px auto 0px;
    max-width: 1000px;
}

.d_title{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    font-size: 10vw;
    margin: 50px auto 50px;
    padding: 0px 10px 0px 10px;
    min-width: 350px;
    position: relative;
    text-align: center;
    width: 35%;
    min-width: fit-content;
}
.d_pdf_doc{
    margin: 0px auto 0px;
}

.d_pdf_page{
    margin: 0px auto 0px;
    width: fit-content;
}





@media only screen and (min-width: 830px){



.d_container{
    margin: 0px auto 0px;
    max-width: 1000px;
}

.d_title{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 100px;
    font-family:'Courier New', Courier, monospace;
    font-size: 50pt;
    letter-spacing: 2.9px;
    line-height: 1.5;
    margin: 50px auto 50px;
    padding: 0px 10px 0px 10px;
    min-width: 350px;
    position: relative;
    text-align: center;
    width: 35%;
    min-width: fit-content;
}

.d_pdf_page{
    padding: 0px 0px 0px 0px;
    margin: 0px auto 50px auto;
    width: fit-content;
}

}