






.p_container{
    margin: 0px auto 0px;
    max-width: 1000px;
}

.p_title{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    font-size: 10vw;
    margin: 0px auto 0px;
    text-align: center;
    width: fit-content;
}

.p_row_title{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    font-size: 7vw;
    margin: 150px auto 50px;
    padding: 0px 0px 0px;
    text-align: center;
    width: fit-content;
}

.p_row_title2{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    font-size: 8vw;
    margin: 150px auto 50px;
    text-align: center;
    width: 500px;
}

.p_row{
    margin: 0px auto 0px;
    width: fit-content;
}

.p_row_what{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: 5vw;
    margin: 0px auto 20px;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    text-align: center;
    width: fit-content;
}

.p_row_text{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    height: fit-content;
    margin: 0px auto 50px;
    padding: 10px;
    width: 90%;
} 



@media only screen and (min-width: 830px){

.p_container{
  margin: 0px auto 0px;
  max-width: 1000px;
}

.p_title{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 100 fit-content;
    font-family:'Courier New', Courier, monospace;
    font-size: 50pt;
    letter-spacing: 2.9px;
    line-height: 1.5;
    margin: 50px auto 120px auto;
    padding: 0px 0px 0px 0px;
    min-width: 350px;
    text-align: center;
    width: min-content;
}

.p_row_title{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: 5vw;
    margin: 0px auto 50px;
    padding: 0px 10px 0px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.p_row{
    display: flex;
    margin: 0px 0px 10px;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.p_row_last{
    display: flex;
    margin: 0px 0px 100px;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.p_row_what{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-size: 4vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 10px;
    height: fit-content;
    text-align: center;
    width: fit-content;
}

.p_row_text{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    line-height: .9;
    margin: 0px 0px 0px;
    padding: 10px;
    width: 73%;
    word-spacing: -3px;
}



}